@{    
    ViewBag.Title = "Home Page";
}
<div style="min-height: 250px">
    <h1>Want more from your relationship? Amore is the app for that.</h1>    
    <table style="margin-top: 15px; width: 100%">
        <tr>
            <td style="width: 650px;">                
                <img src="../../Content/images/PhoneInterface/PhoneInterface.png" width="650px"/>         
            </td>            
            <td style="text-align: left; padding-left: 30px; padding-top: 30px; vertical-align: top;">
                  @Html.Partial("Partials/MapMenu")
            </td>
        </tr>
    </table>      
</div>

@section Bottom {

<p>This is the bottom section content.</p>

}